chapter5/5-1
chapter5/5-2.output
chapter5/5-3
chapter5/5-4
chapter5/5-5
chapter5/5-6
chapter5/5-7
chapter5/5-8

chapter5/5-2
chapter6/6-1
chapter6/6-2
chapter6/6-2.out
chapter6/6-3
chapter14/14-4
chapter14/14-5
chapter14/14-7
chapter14/14-8
chapter14/null

chapter19/0
chapter19/19_2
chapter19/19_4
chapter19/output/19_1
chapter19/output/19_2
